

/* section {
  display: flex;
  max-width: 70%;
  height: 100vh;
  justify-content: space-around;
  gap: 5rem;
  margin-left: 14rem;
  align-items: center;
}  */

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
}

section article h2 {
  font-family: Georgia, serif;
  line-height: 1.2;
}

section {
  display: flex;
  justify-content: space-between;
  max-width: 70vw;
  margin: 10rem auto;
}

section article {
  flex: 0 0 200px;
}
